@import "tailwindcss/components";
@layer components {
  /* 按鈕預設狀態 */
  .btn {
    @apply 
    flex justify-center items-center gap-1
    px-3 py-[6px] 
    shadow-sm 
    transition ease-in-out duration-300 
    rounded-[3px] 
    whitespace-nowrap font-normal
    /* 禁用狀態 */
    disabled:bg-gray-300 
    disabled:text-gray-400
    disabled:cursor-not-allowed
    /* 啟用狀態 */
    enabled:text-white
  }

  /* 只有icon的button */
  .btn-icon {
    @apply 
    btn
    p-[6px]
    shadow-none
    text-gray-400
    hover:bg-slate-200
  }

  /* ============= sm ============= h-[2.1rem] */
  .btn.btn-sm {
    @apply text-[1rem] 
  }
  .btn-icon.btn-sm {
    @apply w-[2.1rem]
  }

  /* ============= md ============= h-[2.3rem] */
  .btn.btn-md {
    @apply text-[1.3rem] 
  }
  .btn-icon.btn-md {
    @apply w-[2.3rem]
  }

  /* ============= lg ============= h-[2.5rem] */
  .btn.btn-lg {
    @apply text-[1.5rem] 
  }
  .btn-icon.btn-lg {
    @apply w-[2.5rem]
  }

  .btn-blue {
    @apply
    /* 啟用狀態 */
    enabled:bg-blue-500 
    enabled:hover:bg-blue-600
  }

  .btn-white {
    @apply
    /* 啟用狀態 */
    enabled:bg-white 
    enabled:hover:bg-slate-100 
    enabled:text-black
  }

  .btn-green {
    @apply
    /* 啟用狀態 */
    enabled:bg-green-500 
    enabled:hover:bg-green-600
  }

  .btn-yellow {
    @apply
    /* 啟用狀態 */
    enabled:bg-yellow-500 
    enabled:hover:bg-yellow-600
  }

  .btn-orange {
    @apply
    /* 啟用狀態 */
    enabled:bg-orange-500 
    enabled:hover:bg-orange-600
  }

  .btn-orange {
    @apply
    /* 啟用狀態 */
    enabled:bg-red-500 
    enabled:hover:bg-red-600
  }

  /* 只用來控制顏色 */
  .btn-violet {
    @apply 
    /* 啟用狀態 */
    enabled:bg-violet-500 
    enabled:hover:bg-violet-600
  }

  /* 只用來控制顏色 */
  .btn-opacity {
    @apply 
    /* 啟用狀態 */
    enabled:bg-white/20 
    enabled:hover:bg-white/30
  }

  /* 只用來控制顏色 */
  .btn-navbar {
    @apply 
    justify-start
    font-semibold
    /* 啟用狀態 */
    enabled:bg-inherit 
    enabled:hover:bg-gray-200
    enabled:text-slate-700
    enabled:shadow-transparent
  }

}